{% extends 'admin.base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}
{% block admin_header_title %}Créer un nouvel article{% endblock %}

{% block body %}
    {{ include('blog/admin/post/_form.html.twig') }}
    <div>
        <a href="{{ path('admin.post.index') }}">Retour au menu</a>
    </div>
{% endblock %}