<footer class="row">
    <div class="col-12 text-center mb-4">
        <a href="{{ path('admin.post.index') }}">Administrer le Blog</a>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center socials">
            <li class="list-inline-item">
                <a href="#contact">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/damien-duval">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                      </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/m4rise">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                </a>
            </li>
        </ul>
    </div>
</footer>
